<h1>Admin Dashboard -- Total Counts</h1>
<br>
<table class="table table-bordered">
  <tr>
    <th>Item</th>
    <th>Count</th>
  </tr>
  <tr>
    <td>Total <%= link_to "Products", admin_products_path %></td>
    <td><%= @product_count %></td>
  </tr>
  <tr>
    <td>Total Categories</td>
    <td><%= @category_count %></td>
  </tr>
</table>
