// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-categories-index {

  .btn {
    margin-bottom: 5px;
  }
}

.admin-categories-new {

  .btn-primary {
    margin-top: 5px;
  }

  .btn-info {
    margin-bottom: 5px;
  }
}