<h1 class="page-header">About Us</h1>
<div class="about-us">
  <p>Located in Vancouver, Canada. We are commited to sustainable practices, everything is locally grown.</p>
  <p>You can find us at community events! Keep a look out for our stall!</p>
</div>